export DYNACONF_telegram__token=""
export DYNACONF_telegram__username=""
export DYNACONF_discord__token=""
export DYNACONF_db__username=""
export DYNACONF_db__password=""
export DYNACONF_db__dbname=""
export DYNACONF_db__host=""
export DYNACONF_db__url=""
export DYNACONF_s3__host=""
export DYNACONF_s3__port=""
export DYNACONF_s3__secure=true
export DYNACONF_s3__access_key=""
export DYNACONF_s3__secret_key=""
export DYNACONF_s3__bucket_name=""
export DYNACONF_s3__region=""